.footer__container{
  background-image: url('../../../public/assets/onda.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
width:100%;
height: 905px;
}

.logo__footer{
position: absolute;
width: 412px;
height: 107px;
left: 611px;
top: 2350px;

}

.footer__adress{
  display: flex;
  flex-direction: row;
 }

.adress{
  position: absolute;
  width: 125px;
  height: 31px;
  left: 153px;
  top: 2508px;
}

.adress h2{
  font-weight: 400;
font-size: 25px;
line-height: 31px;
color: #2A636B;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-transform: uppercase;
}

.adress p{
font-weight: 300;
font-size: 22px;
line-height: 37px;
color: #2A636B;
width: 430px;
height: 111px;
padding-top: .5rem;
}

.contact{
  position: absolute;
  width: 125px;
  height: 31px;
  left: 754px;
  top: 2508px;

}

.contact h2{
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
  color: #2A636B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  width: 232px;
}

.contact p{
  font-weight: 300;
font-size: 22px;
line-height: 37px;
color: #2A636B;
width: 430px;
height: 111px;
padding-top: .5rem;
}

.socials{
  position: absolute;
  width: 125px;
  height: 31px;
  left: 1220px;
  top: 2508px;
}

.socials h2{
  width: 170px;
  font-size: 25px;
  line-height: 31px;
  color: #2A636B;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  width: 232px;
  font-weight: 400;
  padding-left: 1.5rem;

}

.icons{

  display: flex;
}

.icons ul{
  list-style: none;
}

.icons img{
  width: 100px;
  height: 100px;
}



.copyright{
  display: flex;
justify-content: center;
align-items: center;
  
}

.copyright img{
  top: 2700px;
  position: absolute;
}

.copyright p{

position: absolute;
width: 797px;
height: 21px;
/* left: 326px; */
font-weight: 400;
font-size: 17px;
line-height: 21px;
color: #2A636B;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
top: 2750px
}

