.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
background: rgba(255, 255, 255, 0.5);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -8px -8px 20px rgba(0, 0, 0, 0.25);
border-radius: 60px;
width:1319px;
height:121px;

}

.navbar__logo {
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 20px;
}

.itens{
display: flex;
background: rgba(255, 255, 255, 0.5);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.25);
border-radius: 29px;
width: 185px;
height: 53px;
left: 479px;
top: 74px;
align-items: center;
justify-content: center;
}

.itens__4{
  padding-right: 10px;
}

.navbar__toggle {
  display: none;
}

.navbar__links {
  display: flex;
  list-style: none;
}

.navbar__links.open {
  display: block;
}

.navbar__item {
  margin-right: 10px;
  color: #2A636B;
  font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 28px;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .navbar__toggle {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  .navbar__links {
    display: none;
    width: 100%;
    padding: 0;
  }

  .navbar__links.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .navbar__item {
    margin-bottom: 5px;
    text-align: center;
  }
}